body, html {
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    height: 30px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 25px;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.bottom-menu {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bottom-menu a {
    text-decoration: none;
    color: black;
}

.catalog {
    width: 600px;
    margin: 0 auto;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.product {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.product label {
    width: 25px;
}

.product span {
    width: 15px;
}

.catalog .submit-form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.catalog .submit-form button {
    width: 100px;
}

table {
    margin-top: 200px;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.delete-button {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.buttons-table {
    margin-top: 30px;
    width: 200px;
    display: flex;
    column-gap: 10px;
}

.buttons-table button {
    width: 100px;
}

.empty-notify {
    display: block;
    margin-top: 300px;
    text-align: center;
}